{
  "extends": ["prettier"],
  "rules": {
    "jsx-quotes": [1, "prefer-single"]
  },
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
